<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ruthirsty.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>喝水打卡</name>
    <description>
        一个简单的喝水打卡应用，帮助你养成健康的喝水习惯。
    </description>
    <author email="dev@ruthirsty.com" href="https://ruthirsty.com">
        RUthirsty Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
